<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      ENTER YOUR INFORMATION
    </h1>
  </div>
  <%= render 'shared/error_messages', model: f.object %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">NAME</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :name, class:"input-default", id:"name", placeholder:"ex) camerataro", maxlength:"40" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">NICKNAME</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"ex) camera", maxlength:"40" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">EMAIL</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC or Phone", autofocus: true %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">PASSWORD</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"encrypted_password", placeholder:"more than 6 letters and nums" %>
    <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
  </div>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">PASSWORD</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"encrypted_password", placeholder:"more than 6 nums or lettes" %>
  </div>

  <div class="click-user-icon">
    <p>
      CLICK AND UPLOADS!!
    </p>
    <%= f.file_field :image, id:"user-image" %>
  </div>

  <div class="actions">
    <%= f.submit "SIGN UP" %>
  </div>
</div>
<% end %>
