<div class='main'>
  <div class="contents-row">
    <%= image_tag 'New-York-bridge-dawn-USA_3840x2160.jpeg', class: 'top-img' %>
    <h1 class="grid-6"><a href="/">CameraReview</a></h1>
    <ul class='lists'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_session_path, class: "user-nickname" %></li>
        <li><%= link_to 'log out', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'log in', new_user_session_path, class: "login" %></li>
        <li><%= link_to 'sign up', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
    <h2 class='title'>ENJOY YOUR LIFE.</h2>
    <a class='title-2' href="/tweets/show">REVIEW THE CAMERA.</a>
    <a class="subtitle" href="/tweets/new">
      NEW PHOTOS.
    </a>
  </div>
      <ul class='item-list'>
      <%if @tweets.present? %>
        <% @tweets.each do |tweet| %>
          <li class='list'>
            <div class='user_name'>
              <%= link_to(tweet.user.nickname, "/users/#{tweet.user.id}") %>
            </div>
            <%= link_to(tweet_path(tweet.id)) do %>
              <div class='item-img-content'>
                <%= image_tag tweet.image, class: 'item-img' %>
                <div class='item-info'>
                  <h3>
                    Camera's brand: <%= tweet.brand.name %>
                  </h3>
                  <h3>
                    Camera's model: <%= tweet.camera.name %>
                  </h3>
                  <h3>
                    Sensor size: <%= tweet.sensor.name %>
                  </h3>
                  <h3>
                    Resolution: <%= tweet.resolution.name %>
                  </h3>
                  <h3>
                    price: <%= tweet.price %>yen
                  </h3>
                  <h3>
                    Text: <%= tweet.text %>
                  </h3>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              Post it!!
            </h3>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
