<div class="contents row">
  <div class="container">
    <%= form_with model: @tweet, local: true do |f| %>
      
      <div class="img-upload">
        <div class="weight-bold-text">
          Photo
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          Click and upload!!
        </p>
        <%= f.file_field :image, id:"tweet-image" %>
      </div>
    </div>
      <div class='weight-bold-text'>
        Text
        <span class='indispensable'>必須</span>
      </div>
      <%= f.text_field :text, id:'tweet-text'%>
      <div class="weight-bold-text">
        Brand
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:brand_id, Brand.all, :id, :name, {}, {class:"select-box", id:"tweet-brand"}) %>
      <div class="weight-bold-text">
        Camera
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:camera_id, Camera.all, :id, :name, {}, {class:"select-box", id:"tweet-camera"}) %>
      <div class="weight-bold-text">
        Sensor
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:sensor_id, Sensor.all, :id, :name, {}, {class:"select-box", id:"tweet-sensor"}) %>
      <div class="weight-bold-text">
        Resolution
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:resolution_id, Resolution.all, :id, :name, {}, {class:"select-box", id:"tweet-resolution"}) %>
      <div class="sell-price">
      <div class="weight-bold-text">
        Selling price
        <span class="indispensable">必須</span>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>Price</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
        </div>
      </div>
    </div>
    <div class="sell-btn-contents">
      <%= f.submit "SEND" %>
      <%=link_to 'もどる', root_path, class: "back-btn" %>
    </div>
    <% end %>
  </div>
</div>