<%= form_with model: @tweet, url: tweet_path, local: true do |f| %>

<div>
<h2><%= link_to current_user.nickname, user_session_path, class: "show-user-nickname" %></h2>
  <ul class='item-list'>
    <%if @tweets.present? %>
      <% @tweets.each do |tweet| %>
        <li class='list'>
          <div class='user_name'>
            <%= link_to(tweet.user.nickname, "/users/#{tweet.user.id}") %>
          </div>
          <%= link_to(tweet_path(tweet.id)) do %>
            <div class='item-img-content'>
              <%= image_tag tweet.image, class: 'item-img' %>
              <div class='item-info'>
                <h3>
                  BRAND:<%= tweet.brand.name %>
                </h3>
                <h3>
                  MODEL:<%= tweet.camera.name %>
                </h3>
                <h3>
                  SENSOR SIZE:<%= tweet.sensor.name %>
                </h3>
                <h3>
                  RESOLUTION:<%= tweet.resolution.name %>
                </h3>
                <h3>
                  TEXT:<%= tweet.text %>
                </h3>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            POST IT!!
          </h3>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
