<!DOCTYPE html>
<html>

<head>
  <title>CameraReview</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="header">
    <div class="header__bar">
      <h1 class="grid-6"><a href="/">CameraReview</a></h1>
      <form class="search-form" action="#">
        <input class='input-box' placeholder='Enter the keyword'>
        <button class="search-button">
          <%= image_tag "search.png", class:"search-icon" %>
        </button>
      </form>
    </div>
  </header>
  <%= yield %>
  <footer>
    <p>
      Copyright CameraReview 2021.
    </p>
  </footer>
</body>
</html>
