<!DOCTYPE html>
<html>

<head>
  <title>CameraReview</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
  <footer>
    <p>
      Copyright CameraReview 2021.
    </p>
  </footer>
</body>
</html>
